# EditorConfig is awesome: http://editorconfig.org
root = true

[*.{csproj,props,targets}]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.cs]

file_header_template = Copyright (c) JustRoxy <justroxyosu@inbox.ru>. Licensed under the GPLv3 License.\nSee the LICENSE file in the repository root for full license text.